*{
    margin: 0px;
    padding: 0px;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  
}
.body{
  background: #88c3a2;
  align-items: center;
  text-align: center;
}

.container2{
      width: fit-content;
      margin: auto;
      padding: 20px 50px 20px 50px;
      margin-top: 25px;
      margin-bottom: 25px;
      background: #43eca0;
      box-shadow: 20px 20px 60px #ffffff, -20px -20px 60px #fefffe;
      border-radius: 25px;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#container >div{
  width: 200px;
  height: 200px;
  
}

.btn{
  margin-top: 15px;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 32px;
  background: #14213d;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.5s;
  color: white;
  margin-left: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1), 0 6px 20px 0 rgb(29, 29, 29, 0.5);
}
.btn:hover{
  color: red;
}

.inputElement{
  padding: 15px 40px 15px 40px;
  border-radius: 50px;
  box-shadow: inset 12px 12px 12px #cbced1, inset -12px -12px 12px white;
  border: none;
  text-align: center;
  font-size: 30x;
}

.activeCasesDiv{
  background-color: #88c3a2;
  color: #0c0c0c;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0,0,0,0.10);
}
.newCasesDiv{
  background-color: #88c3a2;
  color: black;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0,0,0,0.10);
}
.recoveredCasesDiv{
  background-color: #88c3a2;
  color: black;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0,0,0,0.10);
}
.totalCasesDiv{
  background-color: #88c3a2;
  color: black;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0,0,0,0.10);
}
.totalDeathsDiv{
  background-color: #88c3a2;
  color: black;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0,0,0,0.10);
}
.totalTestsDiv{
  background-color: #88c3a2;
  color: black;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0,0,0,0.10);
}

.activeCases{
  padding-top: 40px;
 }
.newCases{
  padding-top: 40px;
 }
.recoveredCases{
  padding-top: 40px;
 }
.totalCases{
  padding-top: 40px;
 }
.totalDeaths{
  padding-top: 40px;
 }
.totalTests{
  padding-top: 40px;
 }

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: red;
}
